@model OnePiece.Areas.Admin.Models.CapitulosViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "MasterpageAdmin";
}

<head>
    <link href="~/css/AestilosIndexcap.css" rel="stylesheet" />
</head>

<h1>Administrar Capitulos</h1>

<a href="~/Admin/Capitulos/Agregar">Nuevo Capitulo</a>
<section>
    <form method="post" action="~/Admin/Capitulos/IndexCapitulos">
        <select name="idArco" onchange="this.form.submit()" asp-for="Capitulo.Id" asp-items="@(new SelectList(Model.Arcos,"Id","NombreArco"))">
            <option selected="selected" value="">Seleccione</option>
        </select>
    </form>

    @foreach (var item in Model.Capitulos)
    {
        <div>
            <h1>Cap:@item.NumCap - @item.NombreCapitulo</h1>
            
            <p title="@(item.Descripcion)">
                Descripcion:
                @if (item.Descripcion.Length > 126)
                {
                    @item.Descripcion.Substring(0, 126)
                }
                else
                {
                    @item.Descripcion
                }
            </p>
            <div>
                @if (System.IO.File.Exists($"{env.WebRootPath}/img_capitulos/{item.Id}.jpg"))
                {
                    <img src="~/img_capitulos/@(item.Id).jpg" style="height:200px;width:400px;" />
                }
                else
                {
                    <img src="~/img_capitulos/nophoto.jpg" style="height:200px;width:400px;" />
                }
            </div>
            <div>
                <a href="~/Admin/Capitulos/Editar/@item.Id">Editar</a>
                <a href="~/Admin/Capitulos/Eliminar/@item.Id">Eliminar</a>
            </div>
        </div>
    }
</section>